[submodule "Social_Tree_Discover"]
	path = Social_Tree_Discover
	url = https://github.com/Diego-DevsS/Social_Tree_Discover.git
[submodule "Recipe_Page_Discover"]
	path = Recipe_Page_Discover
	url = https://github.com/Diego-DevsS/Recipe_Page_Discover
[submodule "ADS"]
	path = ADS
	url = https://github.com/Diego-DevsS/ADS.git
[submodule "discover-recipe-page"]
	path = discover-recipe-page
	url = https://github.com/Diego-DevsS/discover-recipe-page
[submodule "discover-social-tree"]
	path = discover-social-tree
	url = https://github.com/Diego-DevsS/discover-social-tree
[submodule "discover-portfolio"]
	path = discover-portfolio
	url = git@github.com:dc7devs/discover-portfolio.git
[submodule "discover-login-form"]
	path = discover-login-form
	url = git@github.com:dc7devs/discover-login-form.git
