* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


html, body {
   width: 100%;
   min-height: 100vh;

   background-color: #DDD;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.container {
   width: 80%;
   height: auto;
}

h2 {
   font-size: 50px;
   margin-bottom: 100px;
}
ul li {
   font-size: 25px;
   list-style: none;
}