* {
  background-color: #201C30;
}

button {
  color: #fff;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.box {
  width: 100%;
  height: calc(100vh - 20px);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#typing-text {
     color: #CFDDDE;
     border: solid 0px red;
     font-weight: bold;
     text-align: start;
     font-family: 'Fira Code', Arial, Helvetica, sans-serif;
     font-size: 30px;
     padding: 5px 350px 5px 5px;
     margin-bottom: 30px;
     height: 80px;
     width: 100%;
     resize: none;
     box-sizing: border-box;
     overflow-y: hidden;
}
