* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: "Lobster Two";

   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
::-webkit-scrollbar {
   border-radius: 10px;
   height: 100%;
   background-color:  rgba(0, 0, 0, 0.0);
   width: 5px;
}
::-webkit-scrollbar-thumb {
   border-radius: 10px;
   height: 10px;
   background-color:  rgba(0, 0, 0, .7);
}
body {
   width: 100vw;
   height: 100vh;
     
   position: relative;
   
   background-image: url(wallpaperPadrão.jpg);

   transition: background .5s;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   text-shadow: 2px 2px 2px #000;

   display: grid;
   grid-template-areas:
   "Header Header Header"
   "Main Main Main"
   "Footer Footer Footer";

   grid-template-rows: 100px 1fr 50px;
   grid-template-columns: 1fr 1fr 1fr;

}
#h1 {
   width: 100%;
   padding: 20px;

   font-size: 30px;
   color: #fff;
   text-shadow: 2px 2px 2px #000;

   grid-area: Header;
   display: flex;
   justify-content: space-between;
}
#h1 p {
   margin: 30px 20px 10px 50px;
}

.containt {
   height: 100%;
   width: 100%;

   padding: 20px;
   grid-area: Main;

   display: flex;
   justify-content: space-between;
}

.insert, .containerForm, .listCase {
   height: 100%;
   max-height: 400px;
   color: #fff;
   font-size: 20px;

   padding: 20px;
   margin: 0 20px;
   border-radius: 10px;

   background-image: linear-gradient(to top, rgba(0,0,0, .3) 40%,black);

   display: flex;
   flex-direction: column;
}
.insert {
   width: 25%;
   align-items: center;
   margin-top: 30px;
}

.containerForm {
   width: 30%;
}

.listCase {
   width: 25%;
   margin-top: 30px;

}

input, button {
   width: 100%;
   height: 60px;
   padding: 20px;
   margin: 20px 0 0;
   border-radius: 10px;

   background-color: blueviolet;
   color: #fff;
   
   font-size: 20px;
   transition: .1s;
}

button, input{
   border: none;
   outline: 0;
}
button:hover{
   transform: scale(1.05);
}

#listDate {
   width: 100%;
   max-height: 300px;

   padding-bottom: 10px;
   border: solid 2px;
   border-color: blueviolet;
   border-radius: 10px;
   color: #fff;
   box-shadow: 1px 1px 5px black;
   
   overflow: auto;
}

#listDate li {
   padding: 10px 30px 0 30px ;
   width: 100%;
   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: space-between;
}
#listDate li img {
   width: 18px;
   height: 18px;

   cursor: pointer;
}

.listCase li {
   margin: 10px;
   overflow: auto;
}

#horas {
   margin: 20px 30px 0 0;
   font-size: 30px;
   color: #fff;
   text-shadow: 2px 2px 2px #000;
}
footer {
   text-align: center;
   grid-area: Footer;
}
footer p {
   font-size: 16px;
   line-height: 50px;
   font-weight: bold;
   color: #fff;
   font-family: "Roboto";
}

@media (max-width: 900px){
   body {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      background-attachment: fixed;
   }

   main {
      flex-direction: column;
      align-items: center;
   }

   .insert, .containerForm, .listCase {
      width: 100%;
   }

}
