* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body {
    display: flex;
    background-color: var(--body-bg-color);
    color: var(--purple);
    font-family: "Poppins";

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.contains {
    width: 326px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px auto;
}

.contains figure {
    margin-bottom: 20px; 
}

.contains span {
    width: 190px;
    height: 190px;

    border-radius: 50%;
    border: 2px solid var(--purple);

    display: flex;
    align-items: center;
    justify-content: center;
}

.contains figure span img {
    width: 180px;
    border-radius: 50%;
    position: absolute;
}

.contains figure figcaption {
    font-size: 1rem;
    margin: 15px 0 0;
}

.contains .btns-link {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contains .btns-link a {
    height: 49px;
    line-height: 49px;
    margin: 0 5px 16px;

    border: 2px solid var(--purple);
    border-radius: 4px;

    text-transform: uppercase;
    text-decoration: none;
    color: var(--purple);
    font-weight: 600;
}

.contains .network {
    width: 100%;
    margin: 20px 0 0;
    padding: 10px 50px;

    display: flex;
    justify-content: space-evenly;
}

.contains .network img {
    width: 24px;
    margin: 0 5px
}



